@model ProductViewModel
@{
    Layout = "_Layout";
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Shopper</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Shopper.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>


<body>
    <div class="container">
        <div class="mt-4">
            <div class="row">
                <div class="col-12">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item me-3">
                                <a asp-controller="Home" asp-action="Index"
                                    class="text-decoration-none text-dark text-hover">Home</a>
                            </li>
                            <li class="breadcrumb-item">
                                <a href="/category/list/@Model.Category?.Url"
                                    class="text-decoration-none text-dark mx-3 text-hover">@Model.Product.Category?.Name</a>
                            </li>
                            <li class="breadcrumb-item active" aria-current="page">
                                <span class="ms-3">@Model.Product.Name</span>
                            </li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <section>

        <div class="container">
            <div class="row mt-4" id="@Model.Product?.ProductId">
                <div class="col-7">
                    <img src="/img/@Model.Product?.Image" alt="Ürün Resmi" style="width: 538px; height: 600px;">
                </div>
                <div class="col-5">
                    <div class="fs-xs">
                        <a class="text-muted text-decoration-none"
                            href="/category/list/@Model.Category?.Url">@Model.Product?.Category?.Name</a>
                    </div>
                    <div class="fw-bold text">
                        <a asp-controller="Home" asp-action="Details" asp-route-id="@Model.Product.ProductId"
                            class="text-decoration-none">
                            <h2 class="card-title">@Model.Product?.Name</h2>
                        </a>
                    </div>

                    <div class="fs-xs">
                        <p class="card-text">
                            @Model.Product.Price
                            @(Model.Product.Stok
                                ? Html.Raw("<span class='text-success'>(In Stock)</span>")
                                : Html.Raw("<span class='text-danger'>(Out Of Stock)</span>"))
                        </p>
                    </div>
                    <div class="fs-xs mt-4">
                        <small>Color: <strong>@Model.Product.Color?.ColorName</strong></small>
                    </div>

                    @if (Model.Product.Size != null)
                    {
                        <p class="mt-4" style="font-family: Jost*500 Medium; font-size: 16px; font-weight: 400;">
                            Size: <span style="font-weight: 500;" id="selectedSize"></span>
                        </p>

                        @for (int i = 0; i < Model.Product.Size.Length; i++)
                        {
                            <div class="form-check form-check-inline p-0"
                                style="font-family: Jost*500 Medium; font-size: 16px; font-weight: 400;">
                                <input class="form-check-input custom-checkbox" type="checkbox" id="inlineCheckbox@(i + 1)"
                                    value="@Model.Product.Size[i]" data-label="@Model.Product.Size[i]"
                                    onclick="updateSelectedSize(this)" @(Model.Product.Stok ? "" : "disabled") />
                                <label
                                    class="form-check-label custom-label @(Model.Product.Stok ? "" : "text-decoration-line-through")"
                                    for="inlineCheckbox@(i + 1)">
                                    @Model.Product.Size[i]
                                </label>
                            </div>
                        }
                    }



                    <div class="d-flex mt-4">
                        <div class="me-3">
                            <select class="form-select" aria-label="Default select example" name="" id="">
                                <option value="1" selected>1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                            </select>
                        </div>
                        <button type="button" class="btn btn-dark rounded-0"
                            style="font-family: Jost*500 Medium; font-size: 16px; font-weight: 500;">Add To Cart
                            <i class="fa-solid fa-cart-arrow-down" style="color: white !important;"></i>
                        </button>

                    </div>

                </div>
            </div>
        </div>

    </section>

    <section>


        <div class="row mt-5">
            <div class="col-lg-12">
                <div class="border-bottom ">
                    <ul class="nav nav-pills nav-lb-tab d-flex justify-content-center" id="pills-tab" role="tablist">
                        <li class="nav-item me-4" role="presentation">
                            <button class="nav-link active" id="product-dateils-tab" data-bs-toggle="pill"
                                data-bs-target="#pills-product-dateils" type="button" role="tab"
                                aria-controls="pills-product-dateils" aria-selected="true">Product Details</button>
                        </li>
                        <li class="nav-item me-4" role="presentation">
                            <button class="nav-link" id="information-tab" data-bs-toggle="pill"
                                data-bs-target="#pills-information" type="button" role="tab"
                                aria-controls="pills-information" aria-selected="false">Information</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="return-conditions-tab" data-bs-toggle="pill"
                                data-bs-target="#pills-return-conditions" type="button" role="tab"
                                aria-controls="pills-return-conditions" aria-selected="false">Return Conditions</button>
                        </li>
                    </ul>
                </div>
                <div class="tab-content mt-5 w-50 mx-auto" id="pills-tabContent">
                    <div class="tab-pane fade show active" id="pills-product-dateils" role="tabpanel"
                        aria-labelledby="product-dateils-tab">

                        <p class="text-muted">
                            @Model.Product.Description
                        </p>
                    </div>

                    <div class="tab-pane fade" id="pills-information" role="tabpanel" aria-labelledby="information-tab">
                        <h5 class="fw-bold">
                            Business Registration No.
                        </h5>
                        <p class="text-muted">
                            TR14-0021
                        </p>

                        <h5 class="fw-bold">
                            Origin
                        </h5>
                        <p class="text-muted">
                            TÜRKİYE
                        </p>

                        <h5 class="fw-bold">
                            Table of Contents
                        </h5>
                        <p class="text-muted">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        </p>

                        <h5 class="fw-bold">
                            Food Operator / Manufacturer / Importer / Distributor
                        </h5>
                        <p class="text-muted">
                            Food Operator / Manufacturer / Importer / Distributor
                        </p>

                        <h5 class="fw-bold ">
                            Food Operator / Manufacturer / Importer / Distributor Number
                        </h5>
                        <p class="text-muted ">
                            031364
                        </p>
                    </div>

                    <div class="tab-pane fade" id="pills-return-conditions" role="tabpanel"
                        aria-labelledby="return-conditions-tab">
                        <h5 class="fw-bold ">How Can I Start the Return Process?</h5>
                        <p class="text-muted ">Lorem ipsum dolor sit amet consectetur,</p>

                        <h5 class="fw-bold ">Return Policy:</h5>
                        <p class="text-muted ">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Enim et soluta
                            reiciendis accusantium </p>
                        <p class="text-muted ">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur,
                            autem vel. Repellendus ea veniam</p>
                        <p class="text-muted ">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quod eaque sit
                            repellendus accusamus quos, earum optio saepe, laudantium exercitationem aliquid ut. Dolor
                            perferendis a quo autem sed iure provident exercitationem.</p>
                        <p class="text-muted ">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quod eaque sit
                            repellendus accusamus quos, earum optio saepe, laudantium exercitationem aliquid ut. Dolor
                            perferendis a quo autem sed iure provident exercitationem. Lorem ipsum, dolor sit amet
                            consectetur adipisicing elit. Quod eaque sit repellendus accusamus quos, earum optio saepe,
                            laudantium exercitationem aliquid ut. Dolor perferendis a quo autem sed iure provident
                            exercitationem.
                        </p>

                        <h5 class="fw-bold ">Situations where the Right of Withdrawal is not Valid</h5>
                        <ul class="">
                            <li class="text-muted">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolor omnis
                                incidunt est corporis quod laborum perspiciatis labore minima fugit, aperiam soluta ab
                                accusantium repudiandae odit commodi praesentium, qui inventore! Cumque? </li>
                            <li class="text-muted">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolor omnis
                                incidunt est corporis quod laborum perspiciatis labore minima fugit, aperiam soluta ab
                                accusantium repudiandae odit commodi praesentium, qui inventore! Cumque? </li>
                            <li class="text-muted">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolor omnis
                                incidunt est corporis quod laborum perspiciatis labore minima fugit, aperiam soluta ab
                                accusantium repudiandae odit commodi praesentium, qui inventore! Cumque? </li>
                            <li class="text-muted">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolor omnis
                                incidunt est corporis quod laborum perspiciatis labore minima fugit, aperiam soluta ab
                                accusantium repudiandae odit commodi praesentium, qui inventore! Cumque? </li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <section class="bg-light py-5 mt-5" style="background-color: rgb(245, 245, 245) !important;">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-6 col-lg-3">

                    <!-- Item -->
                    <div class="d-flex mb-6 mb-lg-0">

                        <!-- Icon -->
                        <i class="fa-solid fa-truck mt-2 pe-4" style=" color:rgb(255, 111, 97);"></i>

                        <!-- Body -->
                        <div class="ms-6">

                            <!-- Heading -->
                            <h6 class="heading-xxs mb-1">
                                Free shipping
                            </h6>

                            <!-- Text -->
                            <p class="mb-0 fs-sm text-muted">
                                From all orders over $100
                            </p>

                        </div>

                    </div>

                </div>
                <div class="col-12 col-md-6 col-lg-3">

                    <!-- Item -->
                    <div class="d-flex mb-6 mb-lg-0">

                        <!-- Icon -->
                        <i class="fa-solid fa-repeat mt-2 pe-4" style=" color:rgb(255, 111, 97);"></i>

                        <!-- Body -->
                        <div class="ms-6">

                            <!-- Heading -->
                            <h6 class="mb-1 heading-xxs">
                                Free returns
                            </h6>

                            <!-- Text -->
                            <p class="mb-0 fs-sm text-muted">
                                Return money within 30 days
                            </p>

                        </div>

                    </div>

                </div>
                <div class="col-12 col-md-6 col-lg-3">

                    <!-- Item -->
                    <div class="d-flex mb-6 mb-md-0">

                        <!-- Icon -->
                        <i class="fa-solid fa-lock mt-2 pe-4" style=" color:rgb(255, 111, 97);"></i>

                        <!-- Body -->
                        <div class="ms-6">

                            <!-- Heading -->
                            <h6 class="mb-1 heading-xxs">
                                Secure shopping
                            </h6>

                            <!-- Text -->
                            <p class="mb-0 fs-sm text-muted">
                                You're in safe hands
                            </p>

                        </div>

                    </div>

                </div>
                <div class="col-12 col-md-6 col-lg-3">

                    <!-- Item -->
                    <div class="d-flex">

                        <!-- Icon -->
                        <i class="fa-solid fa-tag mt-2 pe-4" style=" color:rgb(255, 111, 97);"></i>

                        <!-- Body -->
                        <div class="ms-6">

                            <!-- Heading -->
                            <h6 class="mb-1 heading-xxs">
                                Over 10,000 Styles
                            </h6>

                            <!-- Text -->
                            <p class="mb-0 fs-sm text-muted">
                                We have everything you need
                            </p>

                        </div>

                    </div>

                </div>
            </div>
        </div>
    </section>
    <script>
        function updateSelectedSize(selectedCheckbox) {
            var checkboxes = document.querySelectorAll('.custom-checkbox');
            checkboxes.forEach(function (checkbox) {
                var label = checkbox.nextElementSibling;
                if (label) {
                    label.style.borderColor = "#ccc";
                }
            });
            var selectedLabel = selectedCheckbox.nextElementSibling;
            if (selectedLabel) {
                selectedLabel.style.borderColor = "black";
            }
            document.getElementById('selectedSize').textContent = selectedCheckbox.value;
        }

        function showCustomTab(buttonElement, contentId) {
            var allContents = document.getElementsByClassName('custom-tab-content');
            for (var i = 0; i < allContents.length; i++) {
                allContents[i].classList.remove('active-custom-content');
            }

            var allButtons = document.getElementsByClassName('custom-tab-button');
            for (var j = 0; j < allButtons.length; j++) {
                allButtons[j].classList.remove('active-custom-tab');
            }

            document.getElementById(contentId).classList.add('active-custom-content');
            buttonElement.classList.add('active-custom-tab');
        }
    </script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
</body>

</html>